-e .
aiofiles
pandas
numpy
seaborn
pytorch-lightning
PyYAML
tensorboard
torch
torchsummary
torchvision
transformers
sentence-transformers
flair
cycler         
kiwisolver        
matplotlib
pillow            
pyparsing          
python-dateutil
python-multipart    
pytz             
pyyaml            
scipy             
six 
pybind11
pathlib
fasttext-wheel
solara
fastapi
scikit-learn==1.2.2
setuptools
websockets
